<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Product" value="C:\Users\mmunoz\Documents\visual studio 2017\Projects\DemoInterfaces\DALMSSQL\bin\Debug\DALMSSQL.dll"/>
  </appSettings>
</configuration>